nav {
    padding: 10px;
    background-color: black;
    text-align: center;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 40px;
    font-size: 21px;
}

nav a {
    display: inline-block;
    width: 14%;
}

nav p {
    display: inline-block;
}

.pesquisa {
    color: white;
}

.img_princ {
    display: block;
    width: 80%;
    height: 400px;
    margin-bottom: 30px;
}

main article {
    display: inline-block;
    width: calc(33% - 16px);
    margin: 8px;
}

main article img {
    width: 100%;
}

aside .titulo {
    text-align: left;
}

main h1 {
    font-size: 70px;
}

main div img {
    width: 50%;
}

main div p {
    width: 50%;
}

main article {
    vertical-align: top;
}

div.contato img{
    width: 20px;
}

div.contato p{
    display: block;
    text-align: top;
}

.sobre_mim p {
    width: 50%;
}

main p {
    text-align: justify;
}